<!DOCTYPE html>
<html>
  <head>
    <title>Snappyblog</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'shared/event_alerts' %>
    <%= yield %>
    <%= javascript_tag do %>
      $(document).ready(function(){
        ws_register(<%=raw session[:connection_id].to_json %>, handle);
      });
    <% end %>
  </body>
</html>
